/config/private/* filter=openssl diff=openssl
/config/private/*/* filter=openssl diff=openssl
/config/private/*/*/* filter=openssl diff=openssl
/config/private/*/*/*/* filter=openssl diff=openssl
/config/private/*/*/*/*/* filter=openssl diff=openssl
[merge]
    renormalize=true
